dialog {
  background: rgb(49, 49, 49);
  margin: auto;
  border: solid grey;
  border-radius: 1rem;
  font-size: large;
  color: azure; 
  font-size: 2rem;
}
dialog:not([open]) {
    display: none !important;
}

.dialogErreur {
  outline: none;
  margin: auto;
  height: auto;
  max-height: 3rem;
  padding: 0.5rem 4rem;
  font-size: 1.4rem;
  font-weight:light;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dialogErreur p {
  margin: 0; 
  padding: 0rem;
  line-height: 1;
}

.dialog.contenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.dialog.bouton {
    display: flex;
    border: 0.3rem outset grey;
    border-radius: 4px;
    margin: 1px;
    width: 10rem;
    height: 50px;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.dialog.bouton:active,   
.touche.active {
     background: gray;
}