/* ===== VARIABLES ===== */
/* ===== BASE ===== */

.base {
    background-color: black;
    font-size: large;
    color: azure;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.header {
      width: 100%; 
    background-color: #262626;
  padding: 20px;

}
dialog {
  background: rgb(49, 49, 49);
  margin: auto;
  padding: 20px;
  border: solid grey;
  border-radius: 20px;
  font-size: large;
  color: azure;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
}
.dialog.contenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 2rem;
}
.dialog.bouton {
    display: flex;
    border: 0.3rem outset grey;
    border-radius: 4px;
    margin: 1px;
    width: 200px;
    height: 50px;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.dialog.bouton:active,   
.touche.active {
     background: gray;
}


/* ===== GRILLE ===== */

.grille{
    padding-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0.4vw
}
.tuile {
    display: flex;
    border: 0.125rem solid grey;
    border-radius: 0.25rem;
    margin: 0.2rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: black;

}

@media (max-width: 480px) { /* petit téléphone */
  .tuile {
    width: 8vw;
    height: 8vw;
    font-size: 1.2rem;
  }
}

.tuile.tuileActive {
  border: 4px solid rgb(255, 0, 0);
}


/* ===== STATES ===== */
.mauvaiseEndroit {
    background-color: #f77c00;
}
.present {
    background-color: darkgreen;
}
.absent {
    background-color: grey;
}

/*========CLAVIER============= */
.clavier {
    display: grid;
      grid-template-columns: repeat(10, 1fr);
      place-items: center;
      gap: 0.34rem;
      max-width: 40rem;
      margin: 0 auto;
}

.touche {
    display: flex;
    border: 0.1rem outset grey;
    border-radius: 0.25rem;
    width: 3rem;
    height: 3.2rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    user-select: none;

}
.touche.large {
  grid-column: span 2;
  width: 7.5rem;
}

/* Active pour le clavier virtuel et physique*/
.touche:active,   
.touche.active {
     background: gray;
}


