@import url('clavier.css');
@import url('dialog.css');
@import url('grille.css');

/* ===== BASE ===== */
.base {
    background-color: black;
    font-size: large;
    color: azure;
    font-family: 'Verdana', sans-serif; 
    font-size: 2rem;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.header {
  width: 100%; 
  background-color: #262626;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

/* ===== ÉTATS ===== */
.mauvaiseEndroit {
    background-color: rgb(228, 168, 0);
}
.present {
    background-color: rgb(14, 116, 14);
}
.absent {
    background-color: grey;
}

/* ========== BOUTONS NB DE LETTRES ========== */

.classBoutonNbLettres {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  gap: 0.7rem;
}

.boutonNbLettres {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 1rem;
  color: azure;
  font-size: large;  
  background: grey;
}

.boutonNbLettres.active {
  background: green;
}

/* Tablette */
@media (max-width: 768px) {
    .classBoutonNbLettres {
        padding: 1rem;
        gap: 0.5rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .classBoutonNbLettres {
        padding: 0.5rem;
        gap: 0.4rem;
    }
    
    .boutonNbLettres {
        width: 1.5rem;
        height: 1.5rem;
        font-size: medium;
    }
}